.HomeContainer {
  background: #555c66;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 800px;
  position: relative;
  z-index: 1;
}
.HomeImg {
  max-width: 800px;
  max-height: 400px;
  position: absolute;
  top: 10px;
}
.ButtonsContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 200px;
}
.ButtonItem {
  border-radius: 6px;
  background: #249688;
  white-space: nowrap;
  padding: 12px 30px;
  color: #ffffff;
  font-size: 0.9375rem;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  margin: 8px;
}
.ButtonItem:hover {
  transition: all 0.2s ease-in-out;
  background: #10574e;
}
.ButtonImgInline {
  height: 15px;
  width: 15px;
  margin: 0 6px 0 0;
}